$Purple: #89216b;
$Orange: #da4453;
$Primary-font: "Quicksand",sans-serif;
$Secondary-font: "Roboto",sans-serif;

.avatar {
    border-radius: 50%;
    width: 80px;
}

.img {
    height:100%
}

.smallAvatar {
    border-radius: 50%;
    width: 50px;
}