.chatLogNonUser {
  display: flex;
  padding: 0.5rem 0; }
  .chatLogNonUser > p {
    border-radius: 25px;
    height: min-content;
    width: max-content;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-family: "Roboto", sans-serif;
    border-radius: 25px;
    border: 1px solid #da4453;
    background: #f14d5d;
    color: white; }

.chatLogUser {
  display: flex;
  padding: 0.5rem 0;
  justify-content: flex-end; }
  .chatLogUser > p {
    border-radius: 25px;
    height: min-content;
    width: max-content;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-family: "Roboto", sans-serif;
    border-radius: 25px;
    border: 1px solid #bb3094;
    background: #cc33a1;
    color: white; }

.typing-indicator {
  height: 7px;
  width: 7px;
  float: left;
  margin: 0 3px;
  margin-top: 30%;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  opacity: 0.4; }
  .typing-indicator:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s; }
  .typing-indicator:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s; }
  .typing-indicator:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s; }

.bulge {
  animation: 1s bulge infinite 0.3333s; }

@keyframes blink {
  50% {
    opacity: 1; } }

@keyframes bulge {
  50% {
    transform: scale(1.08); } }
