@import "./components/scss/utils.scss";

@mixin silverGradient {
  background: linear-gradient(to bottom, #eee, white);
}

.VanSha {
  background: linear-gradient(to bottom, #da4453, #89216b 20%, #dadada 20%);
  position: absolute;
  height: 100vh;
  width: 100%;
}

.hero {
  width: 90vw;
  margin: auto;
  margin-top: 2vh;
  height: 95vh;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.topColumn {
  margin-top: 0.5vh;
  height: 7vh;
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
}

.customColumn-left {
  padding-right: 0;
}
.customColumn-right {
  padding-left: 0;
}

.searchChat {
  border-radius: 25px;
  width: 90%;
  margin: auto;
  display: block;
}

.searchChatIcon {
  margin-left: 1.5vw;
  color: rgba(212, 65, 85, 0.6) !important;
}

.searchBar {
  border: 1px solid #c3c3c3;
  border-top: none;
  padding: 1vh 0;
  @include silverGradient;
}

.chatList {
  height: 102vh;
  border-right: 1px solid #c3c3c3;
}

.topBarIcon {
  margin-left: 2vh;
}

.scrollbarsClass {
  height: 500px;
}

.chatContent {
  display: flex;
  height: calc(92% - 45px);
  box-shadow: inset 0px 0px 15px #22222230;
  border-radius: 2px;
  display: block;
}

.bottomColumn {
  height: 45px;
  padding: 0.25rem 0;
  white-space: nowrap;
  display: flex;
  @include silverGradient;

  * {
    display: inline-block;
  }

  > i {
    font-size: 2.2em;
    padding: 0 0.25em;
  }
}
.chatBar {
  border-radius: 25px 2px 2px 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: "Roboto",sans-serif;
  &:focus {
    border-color: #89216b;
    box-shadow: inset 0 0 4px 1px rgba(137, 33, 107, 0.37);
  }
}

@mixin chatLog {
  border-radius: 25px;
  height: min-content;
  width: max-content;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
}

@mixin chatLogGeneral {
  display: flex;
  padding: 0.5rem 0;
}

.chatLogNonUser {
  @include chatLogGeneral;
  > p {
    @include chatLog;
    border-radius: 25px;
    border: 1px solid #da4453;
    background: rgb(241, 77, 93);
    color: white;
  }
}

.chatLogUser {
  @include chatLogGeneral;
  justify-content: flex-end;
  > p {
    @include chatLog;
    border-radius: 25px;
    border: 1px solid rgb(187, 48, 148);
    background: rgb(204, 51, 161);
    color: white;
  }
}

//Typing Animation
.typing-indicator {
  height: 7px;
  width: 7px;
  float: left;
  margin: 0 3px;
  margin-top: 30%;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}) {
      animation: 1s blink infinite ($i * 0.3333s);
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

.level-item {
  padding: 0.5rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

.sendButton {
  padding: 0rem 0em;

  &:focus {
    border: none;
    box-shadow:none;
    outline:none;
  }

  > button {
    width: 2.5rem;
    height: 2.3rem;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 2px 25px 25px 2px;
    background: rgb(204, 51, 161);
    color: white;
    transition: all 0.5s ease;

    > i {
      transition: all 0.5s ease;
    }

    &:hover {
      cursor:pointer;
      background: #89216b;

      > i {
        transform:scale(1.5) rotate(50deg);
        margin-left: 50px;
      }
    }

    &:focus {
      border: none;
      box-shadow:none;
      outline:none;
    }
  }
}
